openapi: 3.0.3
info:
  title: SearchAF Shared Models
  description: Common data models shared across all SearchAF API domains
  version: 1.0.0
  contact:
    name: SearchAF API Support
    url: https://searchaf-api.antfly.io
  license:
    name: Proprietary
servers:
  - url: https://searchaf-api.antfly.io/api/v1
    description: Production
tags:
  - name: Authentication
    description: OAuth and JWT authentication
    x-displayName: Authentication
  - name: Users
    description: User account management
    x-displayName: Users
  - name: Organizations
    description: Organization management
    x-displayName: Organizations
  - name: Projects
    description: Project management
    x-displayName: Projects
  - name: API Keys
    description: Project API key management
    x-displayName: API Keys
  - name: Audit
    description: Audit log access
    x-displayName: Audit
  - name: Subscriptions
    description: Subscription management
    x-displayName: Subscriptions
  - name: Usage
    description: Usage tracking and quotas
    x-displayName: Usage
  - name: Webhooks
    description: Webhook endpoints (Stripe, Shopify)
    x-displayName: Webhooks
paths:
  /auth/oauth/{provider}/login:
    get:
      summary: Initiate OAuth login
      description: Redirects to OAuth provider login page
      tags:
        - Authentication
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/OAuthProviderType'
        - name: redirect_uri
          in: query
          schema:
            type: string
            format: uri
          description: Post-login redirect URL
      responses:
        '302':
          description: Redirect to OAuth provider
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/oauth/{provider}/callback:
    get:
      summary: OAuth callback handler
      description: Handles OAuth provider callback and generates JWT
      tags:
        - Authentication
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/OAuthProviderType'
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: OAuth authorization code
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: CSRF protection state
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/refresh:
    post:
      summary: Refresh JWT token
      description: Generate new JWT from refresh token
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/me:
    get:
      summary: Get current user
      description: Returns authenticated user profile
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      summary: Update current user
      description: Update authenticated user profile
      tags:
        - Users
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 100
                avatar_url:
                  type: string
                  format: uri
                  nullable: true
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/me/oauth-providers:
    get:
      summary: List OAuth providers
      description: List linked OAuth providers for current user
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OAuth providers list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuthProvider'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /organizations:
    get:
      summary: List organizations
      description: List organizations where user is a member
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Organizations list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Create organization
      description: Create new organization (user becomes owner)
      tags:
        - Organizations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
                - billing_email
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                slug:
                  type: string
                  pattern: ^[a-z0-9-]+$
                  minLength: 1
                  maxLength: 50
                billing_email:
                  type: string
                  format: email
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}:
    get:
      summary: Get organization
      description: Get organization details
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update organization
      description: Update organization (requires admin+ role)
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                billing_email:
                  type: string
                  format: email
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete organization
      description: Delete organization (requires owner role, cascades to projects)
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '204':
          description: Organization deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/members:
    get:
      summary: List organization members
      description: List all members of organization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Members list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganizationMember'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Invite member
      description: Invite user to organization (requires admin+ role)
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                  format: email
                role:
                  $ref: '#/components/schemas/OrganizationRole'
      responses:
        '201':
          description: Member invited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/members/{member_id}:
    delete:
      summary: Remove member
      description: Remove user from organization (requires admin+ role)
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/MemberId'
      responses:
        '204':
          description: Member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/projects:
    get:
      summary: List projects
      description: List projects in organization
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Projects list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create project
      description: Create new project in organization
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
                - project_type
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                slug:
                  type: string
                  pattern: ^[a-z0-9-]+$
                  minLength: 1
                  maxLength: 50
                project_type:
                  $ref: '#/components/schemas/ProjectType'
                integration_config:
                  type: object
                  additionalProperties: true
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /projects/{project_id}:
    get:
      summary: Get project
      description: Get project details
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update project
      description: Update project (requires developer+ role)
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                integration_config:
                  type: object
                  additionalProperties: true
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete project
      description: Delete project (requires project_admin role)
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: Project deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/api-keys:
    get:
      summary: List API keys
      description: List API keys for project
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: API keys list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create API key
      description: Create new API key for project (requires project_admin role)
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - key_type
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                key_type:
                  $ref: '#/components/schemas/APIKeyType'
                expires_at:
                  $ref: '#/components/schemas/Timestamp'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                required:
                  - api_key
                  - key
                properties:
                  api_key:
                    $ref: '#/components/schemas/APIKey'
                  key:
                    type: string
                    description: Full API key (only shown once)
                    example: sk_live_abcdef123456...
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/api-keys/{key_id}:
    delete:
      summary: Revoke API key
      description: Revoke API key (requires project_admin role)
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/KeyId'
      responses:
        '204':
          description: API key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/audit-logs:
    get:
      summary: List audit logs
      description: List audit logs for organization (requires admin+ role)
      tags:
        - Audit
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - name: entity_type
          in: query
          schema:
            $ref: '#/components/schemas/EntityType'
        - name: entity_id
          in: query
          schema:
            $ref: '#/components/schemas/UUID'
        - name: action
          in: query
          schema:
            $ref: '#/components/schemas/AuditAction'
      responses:
        '200':
          description: Audit logs list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/subscription:
    get:
      summary: Get subscription
      description: Get organization subscription details
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create subscription
      description: Create Stripe subscription for organization (requires admin+ role)
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plan_type
                - payment_method_id
              properties:
                plan_type:
                  $ref: '#/components/schemas/PlanType'
                payment_method_id:
                  type: string
                  description: Stripe payment method ID
                  example: pm_1234567890
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    patch:
      summary: Update subscription
      description: Update subscription plan (requires admin+ role)
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan_type:
                  $ref: '#/components/schemas/PlanType'
                payment_method_id:
                  type: string
                  description: New Stripe payment method ID
      responses:
        '200':
          description: Subscription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Cancel subscription
      description: Cancel subscription (requires admin+ role, downgrades to free)
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '204':
          description: Subscription canceled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/subscription/portal:
    post:
      summary: Create billing portal session
      description: Create Stripe billing portal session URL (requires admin+ role)
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - return_url
              properties:
                return_url:
                  type: string
                  format: uri
                  description: URL to return to after portal session
      responses:
        '200':
          description: Portal session created
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                properties:
                  url:
                    type: string
                    format: uri
                    description: Stripe billing portal URL
                    example: https://billing.stripe.com/session/...
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/usage:
    get:
      summary: Get current usage
      description: Get current billing cycle usage and quotas
      tags:
        - Usage
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/usage/history:
    get:
      summary: Get usage history
      description: Get historical usage data by billing cycle
      tags:
        - Usage
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: start_date
          in: query
          schema:
            $ref: '#/components/schemas/Date'
          description: Start date (YYYY-MM-DD)
        - name: end_date
          in: query
          schema:
            $ref: '#/components/schemas/Date'
          description: End date (YYYY-MM-DD)
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Usage history
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageHistory'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/usage:
    get:
      summary: Get project usage
      description: Get current billing cycle usage for specific project
      tags:
        - Usage
      security:
        - BearerAuth: []
        - APIKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUsage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhooks/stripe:
    post:
      summary: Stripe webhook
      description: Handle Stripe webhook events (billing events, subscription updates)
      tags:
        - Webhooks
      security: []
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema:
            type: string
          description: Stripe webhook signature for verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe event payload (varies by event type)
      responses:
        '200':
          description: Webhook processed
        '400':
          description: Invalid payload or signature
  /webhooks/shopify:
    post:
      summary: Shopify webhook
      description: Handle Shopify webhook events (app install/uninstall)
      tags:
        - Webhooks
      security: []
      parameters:
        - name: X-Shopify-Hmac-Sha256
          in: header
          required: true
          schema:
            type: string
          description: Shopify webhook signature for verification
        - name: X-Shopify-Shop-Domain
          in: header
          required: true
          schema:
            type: string
          description: Shop domain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Shopify event payload (varies by event type)
      responses:
        '200':
          description: Webhook processed
        '400':
          description: Invalid payload or signature
components:
  schemas:
    UUID:
      type: string
      format: uuid
      description: RFC 4122 UUID identifier
      example: 550e8400-e29b-41d4-a716-446655440000
    Timestamp:
      type: string
      format: date-time
      description: ISO 8601 timestamp
      example: '2025-10-02T15:30:00Z'
    Date:
      type: string
      format: date
      description: ISO 8601 date
      example: '2025-10-02'
    PaginationParams:
      type: object
      properties:
        offset:
          type: integer
          minimum: 0
          default: 0
          description: Number of items to skip
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          description: Maximum number of items to return
    PaginationMeta:
      type: object
      required:
        - offset
        - limit
        - total
      properties:
        offset:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
          description: Total number of items available
    Error:
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: URI identifying the problem type
          example: https://searchaf-api.antfly.io/errors/validation-error
        title:
          type: string
          description: Short, human-readable summary
          example: Validation Error
        status:
          type: integer
          description: HTTP status code
          example: 400
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
          example: Email address is required
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence
          example: /api/v1/users/550e8400-e29b-41d4-a716-446655440000
        errors:
          type: array
          description: Additional validation errors
          items:
            type: object
            required:
              - field
              - message
            properties:
              field:
                type: string
                description: Field name causing the error
              message:
                type: string
                description: Error message for this field
    UserStatus:
      type: string
      enum:
        - active
        - suspended
        - deleted
      description: User account status
    User:
      type: object
      required:
        - id
        - email
        - display_name
        - status
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        email:
          type: string
          format: email
          maxLength: 255
          description: User email address
          example: user@example.com
        display_name:
          type: string
          minLength: 1
          maxLength: 100
          description: User display name
          example: John Doe
        avatar_url:
          type: string
          format: uri
          nullable: true
          description: Profile picture URL
          example: https://example.com/avatar.jpg
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        last_login_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        status:
          $ref: '#/components/schemas/UserStatus'
        settings:
          type: object
          nullable: true
          description: Extensible user settings
          additionalProperties: true
    OAuthProviderType:
      type: string
      enum:
        - google
        - github
        - shopify
      description: OAuth provider type
    OAuthProvider:
      type: object
      required:
        - id
        - user_id
        - provider
        - provider_user_id
        - provider_email
        - linked_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        user_id:
          $ref: '#/components/schemas/UUID'
        provider:
          $ref: '#/components/schemas/OAuthProviderType'
        provider_user_id:
          type: string
          description: User ID from OAuth provider
        provider_email:
          type: string
          format: email
          description: Email from OAuth provider
        linked_at:
          $ref: '#/components/schemas/Timestamp'
        last_used_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
    OrganizationStatus:
      type: string
      enum:
        - active
        - frozen
        - deleted
      description: Organization status
    Organization:
      type: object
      required:
        - id
        - name
        - slug
        - owner_id
        - billing_email
        - status
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Organization display name
          example: Acme Corp
        slug:
          type: string
          pattern: ^[a-z0-9-]+$
          minLength: 1
          maxLength: 50
          description: URL-safe identifier
          example: acme-corp
        owner_id:
          $ref: '#/components/schemas/UUID'
        billing_email:
          type: string
          format: email
          description: Email for billing notifications
          example: billing@acme.com
        status:
          $ref: '#/components/schemas/OrganizationStatus'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        settings:
          type: object
          nullable: true
          description: Extensible organization settings
          additionalProperties: true
    OrganizationRole:
      type: string
      enum:
        - owner
        - admin
        - developer
      description: Organization-level role
    MembershipStatus:
      type: string
      enum:
        - invited
        - active
        - removed
      description: Membership status
    OrganizationMember:
      type: object
      required:
        - id
        - user_id
        - organization_id
        - role
        - invited_at
        - status
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        user_id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        role:
          $ref: '#/components/schemas/OrganizationRole'
        invited_by:
          $ref: '#/components/schemas/UUID'
          nullable: true
        invited_at:
          $ref: '#/components/schemas/Timestamp'
        joined_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        status:
          $ref: '#/components/schemas/MembershipStatus'
        user:
          $ref: '#/components/schemas/User'
          nullable: true
          description: Populated in list responses
    ProjectType:
      type: string
      enum:
        - woocommerce
        - shopify
        - wordpress
      description: E-commerce platform type
    ProjectStatus:
      type: string
      enum:
        - active
        - frozen
        - deleted
      description: Project status
    Project:
      type: object
      required:
        - id
        - organization_id
        - name
        - slug
        - project_type
        - status
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Project display name
          example: My Store
        slug:
          type: string
          pattern: ^[a-z0-9-]+$
          minLength: 1
          maxLength: 50
          description: URL-safe identifier (unique within org)
          example: my-store
        project_type:
          $ref: '#/components/schemas/ProjectType'
        integration_config:
          type: object
          nullable: true
          description: Platform-specific configuration
          additionalProperties: true
        status:
          $ref: '#/components/schemas/ProjectStatus'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        settings:
          type: object
          nullable: true
          description: Extensible project settings
          additionalProperties: true
    ProjectRole:
      type: string
      enum:
        - project_admin
        - developer
      description: Project-level role
    ProjectMember:
      type: object
      required:
        - id
        - user_id
        - project_id
        - role
        - granted_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        user_id:
          $ref: '#/components/schemas/UUID'
        project_id:
          $ref: '#/components/schemas/UUID'
        role:
          $ref: '#/components/schemas/ProjectRole'
        granted_by:
          $ref: '#/components/schemas/UUID'
          nullable: true
        granted_at:
          $ref: '#/components/schemas/Timestamp'
        user:
          $ref: '#/components/schemas/User'
          nullable: true
          description: Populated in list responses
    APIKeyType:
      type: string
      enum:
        - read_only
        - read_write
      description: API key access level
    APIKeyStatus:
      type: string
      enum:
        - active
        - revoked
      description: API key status
    APIKey:
      type: object
      required:
        - id
        - project_id
        - key_type
        - key_prefix
        - name
        - created_at
        - status
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        project_id:
          $ref: '#/components/schemas/UUID'
        key_type:
          $ref: '#/components/schemas/APIKeyType'
        key_prefix:
          type: string
          description: Visible key prefix (first 8 chars)
          example: sk_live_
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: User-defined key name
          example: Production API Key
        created_at:
          $ref: '#/components/schemas/Timestamp'
        last_used_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        expires_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        status:
          $ref: '#/components/schemas/APIKeyStatus'
    EntityType:
      type: string
      enum:
        - user
        - organization
        - project
        - api_key
        - subscription
      description: Type of entity being audited
    AuditAction:
      type: string
      enum:
        - create
        - read
        - update
        - delete
      description: Type of action performed
    AuditLog:
      type: object
      required:
        - id
        - organization_id
        - entity_type
        - entity_id
        - action
        - created_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        user_id:
          $ref: '#/components/schemas/UUID'
          nullable: true
          description: Null for system actions
        entity_type:
          $ref: '#/components/schemas/EntityType'
        entity_id:
          $ref: '#/components/schemas/UUID'
        action:
          $ref: '#/components/schemas/AuditAction'
        changes:
          type: object
          nullable: true
          description: Before/after state
          properties:
            old_value:
              type: object
              additionalProperties: true
            new_value:
              type: object
              additionalProperties: true
        ip_address:
          type: string
          nullable: true
          description: Request IP address
          example: 192.168.1.1
        user_agent:
          type: string
          nullable: true
          description: Request user agent
          example: Mozilla/5.0...
        created_at:
          $ref: '#/components/schemas/Timestamp'
    AuthResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
        - user
      properties:
        access_token:
          type: string
          description: JWT access token
        refresh_token:
          type: string
          description: JWT refresh token
        token_type:
          type: string
          enum:
            - Bearer
          default: Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds
          example: 3600
        user:
          $ref: '#/components/schemas/User'
    SubscriptionStatus:
      type: string
      enum:
        - active
        - trial
        - past_due
        - canceled
      description: Subscription status
    PlanType:
      type: string
      enum:
        - free
        - growth
        - enterprise
      description: Subscription plan tier
    Subscription:
      type: object
      required:
        - id
        - organization_id
        - status
        - plan_type
        - billing_cycle_start
        - billing_cycle_end
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        stripe_customer_id:
          type: string
          nullable: true
          description: Stripe customer ID
        stripe_subscription_id:
          type: string
          nullable: true
          description: Stripe subscription ID
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        plan_type:
          $ref: '#/components/schemas/PlanType'
        billing_cycle_start:
          $ref: '#/components/schemas/Date'
        billing_cycle_end:
          $ref: '#/components/schemas/Date'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
    MetricType:
      type: string
      enum:
        - search_query
        - index_entry
      description: Usage metric type
    UsageMetric:
      type: object
      required:
        - metric_type
        - current
        - limit
        - remaining
      properties:
        metric_type:
          $ref: '#/components/schemas/MetricType'
        current:
          type: integer
          minimum: 0
          description: Current usage this billing cycle
          example: 5000
        limit:
          type: integer
          minimum: 0
          description: Usage limit for this metric (0 = unlimited)
          example: 10000
        remaining:
          type: integer
          minimum: 0
          description: Remaining quota
          example: 5000
        percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Usage percentage
          example: 50
    UsageSummary:
      type: object
      required:
        - organization_id
        - billing_cycle_start
        - billing_cycle_end
        - metrics
        - is_frozen
      properties:
        organization_id:
          $ref: '#/components/schemas/UUID'
        billing_cycle_start:
          $ref: '#/components/schemas/Date'
        billing_cycle_end:
          $ref: '#/components/schemas/Date'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/UsageMetric'
        is_frozen:
          type: boolean
          description: Whether organization is frozen due to quota exceeded
        frozen_reason:
          type: string
          nullable: true
          description: Reason for freeze (if applicable)
          example: Quota exceeded without billing configured
    ProjectUsage:
      type: object
      required:
        - project_id
        - organization_id
        - billing_cycle_start
        - billing_cycle_end
        - metrics
      properties:
        project_id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        billing_cycle_start:
          $ref: '#/components/schemas/Date'
        billing_cycle_end:
          $ref: '#/components/schemas/Date'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/UsageMetric'
    UsageHistory:
      type: object
      required:
        - billing_cycle
        - metrics
      properties:
        billing_cycle:
          $ref: '#/components/schemas/Date'
        metrics:
          type: array
          items:
            type: object
            required:
              - metric_type
              - total
            properties:
              metric_type:
                $ref: '#/components/schemas/MetricType'
              total:
                type: integer
                minimum: 0
                description: Total usage for this billing cycle
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PaymentRequired:
      description: Payment required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from OAuth flow or API key
    APIKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Project-specific API key
  parameters:
    OrgId:
      name: org_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/UUID'
      description: Organization ID
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/UUID'
      description: Project ID
    MemberId:
      name: member_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/UUID'
      description: Member ID
    KeyId:
      name: key_id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/UUID'
      description: API Key ID
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of items to return
x-tagGroups:
  - name: SearchAF User Management API
    tags:
      - Authentication
      - Users
      - Organizations
      - Projects
      - API Keys
      - Audit
  - name: SearchAF Billing API
    tags:
      - Subscriptions
      - Usage
      - Webhooks
