openapi: 3.0.3
info:
  title: SearchAF Shared Models
  description: Common data models shared across all SearchAF API domains
  version: 1.0.0
  contact:
    name: SearchAF API Support
    url: https://searchaf.antfly.io
  license:
    name: Proprietary
    url: https://searchaf.antfly.io
servers:
  - url: https://searchaf.antfly.io/api/v1
    description: Production
tags:
  - name: Authentication
    description: OAuth and JWT authentication
    x-displayName: Authentication
  - name: Users
    description: User account management
    x-displayName: Users
  - name: Organizations
    description: Organization management
    x-displayName: Organizations
  - name: Projects
    description: Project management
    x-displayName: Projects
  - name: API Keys
    description: Project API key management
    x-displayName: API Keys
  - name: Audit
    description: Audit log access
    x-displayName: Audit
  - name: Subscriptions
    description: Subscription management
    x-displayName: Subscriptions
  - name: Usage
    description: Usage tracking and quotas
    x-displayName: Usage
  - name: Webhooks
    description: Webhook endpoints (Stripe, Shopify)
    x-displayName: Webhooks
  - name: Shopify
    description: Shopify embedded app integration
    x-displayName: Shopify
  - name: Shopify AEO
    description: Answer Engine Optimization for Shopify content
    x-displayName: Shopify AEO
  - name: AEO Analysis
    description: Content analysis and scoring
    x-displayName: AEO Analysis
  - name: AEO Visibility
    description: AI engine visibility testing
    x-displayName: AEO Visibility
paths:
  /auth/oauth/{provider}/login:
    get:
      summary: Initiate OAuth login
      description: Redirects to OAuth provider login page
      operationId: oauthLogin
      tags:
        - Authentication
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/OAuthProviderType'
        - name: redirect_uri
          in: query
          schema:
            type: string
            format: uri
          description: Post-login redirect URL
      responses:
        '200':
          description: OAuth provider redirect URL (alternative to 302 redirect)
          content:
            application/json:
              schema:
                type: object
                required:
                  - redirect_url
                properties:
                  redirect_url:
                    type: string
                    format: uri
                    description: URL to redirect to for OAuth provider login
        '302':
          description: Redirect to OAuth provider
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/oauth/{provider}/callback:
    get:
      summary: OAuth callback handler
      description: Handles OAuth provider callback and generates JWT
      operationId: oauthCallback
      tags:
        - Authentication
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/OAuthProviderType'
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: OAuth authorization code
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: CSRF protection state
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/oauth/{provider}/link:
    get:
      summary: Link OAuth provider to account
      description: Initiate OAuth flow to link provider to authenticated user account
      operationId: oauthLink
      tags:
        - Authentication
      security:
        - BearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/OAuthProviderType'
        - name: redirect_uri
          in: query
          schema:
            type: string
            format: uri
          description: Post-link redirect URL
      responses:
        '200':
          description: OAuth provider redirect URL (alternative to 302 redirect)
          content:
            application/json:
              schema:
                type: object
                required:
                  - redirect_url
                properties:
                  redirect_url:
                    type: string
                    format: uri
                    description: URL to redirect to for OAuth provider linking
        '302':
          description: Redirect to OAuth provider
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /auth/refresh:
    post:
      summary: Refresh JWT token
      description: Generate new JWT from refresh token
      operationId: refreshToken
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/signout:
    post:
      summary: Sign out user
      description: Clears authentication cookies (access_token and refresh_token)
      operationId: signOut
      tags:
        - Authentication
      security: []
      responses:
        '200':
          description: Successfully signed out
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '204':
          description: Successfully signed out, cookies cleared
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/apikey/exchange:
    post:
      summary: Exchange API key for JWT
      description: |
        Exchange a long-lived API key for a short-lived JWT token.
        The JWT can then be used to authenticate subsequent search and batch requests.
      operationId: postAuthApikeyExchange
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - api_key
              properties:
                api_key:
                  type: string
                  description: The API key to exchange for a JWT
                  example: searchaf_a1b2c3d4_e5f6g7h8i9j0k1l2m3n4o5p6
      responses:
        '200':
          description: JWT token generated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                  - expires_in
                properties:
                  token:
                    type: string
                    description: Short-lived JWT token (15-30 minutes)
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  expires_in:
                    type: integer
                    description: Token expiration time in seconds
                    example: 1800
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/me:
    get:
      summary: Get current user
      description: Returns authenticated user profile
      operationId: getCurrentUser
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      summary: Update current user
      description: Update authenticated user profile
      operationId: updateCurrentUser
      tags:
        - Users
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 100
                avatar_url:
                  type: string
                  format: uri
                  nullable: true
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/me/oauth-providers:
    get:
      summary: List OAuth providers
      description: List linked OAuth providers for current user
      operationId: listUserOAuthProviders
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OAuth providers list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuthProvider'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /organizations:
    get:
      summary: List organizations
      description: List organizations where user is a member
      operationId: listOrganizations
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Organizations list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Create organization
      description: Create new organization (user becomes owner)
      operationId: createOrganization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
                - billing_email
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                slug:
                  type: string
                  pattern: ^[a-z0-9-]+$
                  minLength: 1
                  maxLength: 50
                billing_email:
                  type: string
                  format: email
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}:
    get:
      summary: Get organization
      description: Get organization details
      operationId: getOrganization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update organization
      description: Update organization (requires admin+ role)
      operationId: updateOrganization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                billing_email:
                  type: string
                  format: email
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete organization
      description: Delete organization (requires owner role, cascades to projects)
      operationId: deleteOrganization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '204':
          description: Organization deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/members:
    get:
      summary: List organization members
      description: List all members of organization
      operationId: listOrganizationMembers
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Members list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganizationMember'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Invite member
      description: Invite user to organization (requires admin+ role)
      operationId: inviteOrganizationMember
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                  format: email
                role:
                  $ref: '#/components/schemas/OrganizationRole'
      responses:
        '201':
          description: Member invited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/members/{member_id}:
    delete:
      summary: Remove member
      description: Remove user from organization (requires admin+ role)
      operationId: removeOrganizationMember
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/MemberId'
      responses:
        '204':
          description: Member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/projects:
    get:
      summary: List projects
      description: List projects in organization
      operationId: listProjects
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Projects list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create project
      description: Create new project in organization
      operationId: createProject
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
                - project_type
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                slug:
                  type: string
                  pattern: ^[a-z0-9-]+$
                  minLength: 1
                  maxLength: 50
                project_type:
                  $ref: '#/components/schemas/ProjectType'
                integration_config:
                  type: object
                  additionalProperties: true
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /projects/{project_id}:
    get:
      summary: Get project
      description: Get project details
      operationId: getProject
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update project
      description: Update project (requires developer+ role)
      operationId: updateProject
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                integration_config:
                  type: object
                  additionalProperties: true
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete project
      description: Delete project (requires project_admin role)
      operationId: deleteProject
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: Project deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/tables:
    get:
      summary: List all tables for a project
      description: List all AntflyDB tables associated with a project
      operationId: listProjectTables
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of project tables
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectTable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create a new table for a project
      description: Create a new AntflyDB table for a project (requires developer+ role)
      operationId: createProjectTable
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectTableCreate'
      responses:
        '201':
          description: Table created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /projects/{project_id}/tables/{table_id}:
    get:
      summary: Get a specific table
      description: Get details of a specific project table
      operationId: getProjectTable
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/TableId'
      responses:
        '200':
          description: Table details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update a table
      description: Update a project table (requires developer+ role)
      operationId: updateProjectTable
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/TableId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectTableUpdate'
      responses:
        '200':
          description: Table updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      summary: Delete a table
      description: Delete a project table (requires project_admin role)
      operationId: deleteProjectTable
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/TableId'
      responses:
        '204':
          description: Table deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/stats:
    get:
      summary: Get project statistics
      description: Get statistics for a project including indexed item counts across all tables and integration-specific metadata
      operationId: getProjectStats
      tags:
        - Projects
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /projects/{project_id}/api-keys:
    get:
      summary: List API keys
      description: List API keys for project
      operationId: listAPIKeys
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: API keys list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create API key
      description: Create new API key for project (requires project_admin role)
      operationId: createAPIKey
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - key_type
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                key_type:
                  $ref: '#/components/schemas/APIKeyType'
                expires_at:
                  $ref: '#/components/schemas/Timestamp'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                required:
                  - api_key
                  - key
                properties:
                  api_key:
                    $ref: '#/components/schemas/APIKey'
                  key:
                    type: string
                    description: Full API key (only shown once)
                    example: sk_live_abcdef123456...
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/api-keys/{key_id}:
    delete:
      summary: Revoke API key
      description: Revoke API key (requires project_admin role)
      operationId: revokeAPIKey
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/KeyId'
      responses:
        '204':
          description: API key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/api-keys/{key_id}/rotate:
    post:
      summary: Rotate API key
      description: |
        Atomically rotate an API key by revoking the old key and creating a new one
        with the same name and type. This operation is transactional - both the revoke
        and create succeed or both fail. Requires project_admin role.
      operationId: rotateAPIKey
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/KeyId'
      responses:
        '200':
          description: API key rotated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - old_key
                  - new_key
                  - key
                properties:
                  old_key:
                    $ref: '#/components/schemas/RevokedAPIKey'
                    description: Metadata for the revoked key
                  new_key:
                    $ref: '#/components/schemas/APIKey'
                    description: Metadata for the new key
                  key:
                    type: string
                    description: Full API key with secret (only shown once)
                    example: searchaf_a1b2c3d4_e5f6g7h8i9j0k1l2m3n4o5p6
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /projects/{project_id}/api-keys/{key_id}/decrypt:
    get:
      summary: Decrypt API key
      description: |
        Retrieve the full decrypted API key. This endpoint returns the plaintext key
        for copying or reference. Access is restricted to users with project access.
      operationId: decryptAPIKey
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/KeyId'
      responses:
        '200':
          description: Decrypted API key
          content:
            application/json:
              schema:
                type: object
                required:
                  - key
                properties:
                  key:
                    type: string
                    description: Full decrypted API key
                    example: searchaf_a1b2c3d4_e5f6g7h8i9j0k1l2m3n4o5p6
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations/{org_id}/audit-logs:
    get:
      summary: List audit logs
      description: List audit logs for organization (requires admin+ role)
      operationId: listAuditLogs
      tags:
        - Audit
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - name: entity_type
          in: query
          schema:
            $ref: '#/components/schemas/EntityType'
        - name: entity_id
          in: query
          schema:
            $ref: '#/components/schemas/UUID'
        - name: action
          in: query
          schema:
            $ref: '#/components/schemas/AuditAction'
      responses:
        '200':
          description: Audit logs list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/subscription:
    get:
      summary: Get subscription
      description: Get organization subscription details
      operationId: getSubscription
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create subscription
      description: Create Stripe subscription for organization (requires admin+ role)
      operationId: createSubscription
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plan_type
                - payment_method_id
              properties:
                plan_type:
                  $ref: '#/components/schemas/PlanType'
                payment_method_id:
                  type: string
                  description: Stripe payment method ID
                  example: pm_1234567890
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    patch:
      summary: Update subscription
      description: Update subscription plan (requires admin+ role)
      operationId: updateSubscription
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan_type:
                  $ref: '#/components/schemas/PlanType'
                payment_method_id:
                  type: string
                  description: New Stripe payment method ID
      responses:
        '200':
          description: Subscription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Cancel subscription
      description: Cancel subscription (requires admin+ role, downgrades to free)
      operationId: cancelSubscription
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '204':
          description: Subscription canceled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/subscription/portal:
    post:
      summary: Create billing/checkout session
      description: |
        Smart billing endpoint that automatically routes users based on their subscription status:
        - **Paid plan users** → Redirected to Stripe Billing Portal (manage payment, view invoices, cancel)
        - **Free plan users** → Redirected to Stripe Checkout (upgrade to paid plan)

        The response includes a `type` field indicating which flow was used.
      operationId: createBillingSession
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - return_url
              properties:
                return_url:
                  type: string
                  format: uri
                  description: URL to return to after session completes
                  example: https://searchaf.antfly.io/settings/billing
                plan:
                  type: string
                  enum:
                    - growth
                    - enterprise
                  description: |
                    Plan to upgrade to (only used for free plan users).
                    Defaults to "growth" if not specified.
                  example: growth
      responses:
        '200':
          description: Session created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                  - type
                properties:
                  url:
                    type: string
                    format: uri
                    description: Redirect URL for Stripe session
                    example: https://checkout.stripe.com/c/pay/cs_test_...
                  type:
                    type: string
                    enum:
                      - portal
                      - checkout
                    description: Type of session created
                    example: checkout
              examples:
                checkout:
                  summary: Free user upgrade flow
                  value:
                    url: https://checkout.stripe.com/c/pay/cs_test_...
                    type: checkout
                portal:
                  summary: Paid user billing portal
                  value:
                    url: https://billing.stripe.com/p/session/test_...
                    type: portal
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/usage:
    get:
      summary: Get current usage
      description: Get current billing cycle usage and quotas
      operationId: getCurrentUsage
      tags:
        - Usage
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/usage/history:
    get:
      summary: Get usage history
      description: Get historical usage data by billing cycle
      operationId: getUsageHistory
      tags:
        - Usage
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: start_date
          in: query
          schema:
            $ref: '#/components/schemas/Date'
          description: Start date (YYYY-MM-DD)
        - name: end_date
          in: query
          schema:
            $ref: '#/components/schemas/Date'
          description: End date (YYYY-MM-DD)
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Usage history
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageHistory'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/usage:
    get:
      summary: Get project usage
      description: Get current billing cycle usage for specific project
      operationId: getProjectUsage
      tags:
        - Usage
      security:
        - BearerAuth: []
        - APIKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUsage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhooks/stripe:
    post:
      summary: Stripe webhook
      description: Handle Stripe webhook events (billing events, subscription updates)
      operationId: handleStripeWebhook
      tags:
        - Webhooks
      security: []
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema:
            type: string
          description: Stripe webhook signature for verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe event payload (varies by event type)
      responses:
        '200':
          description: Webhook processed
        '400':
          description: Invalid payload or signature
  /shopify/shop/status:
    get:
      summary: Get shop configuration status
      description: |
        Check if a Shopify shop has completed OAuth and has a configured project.
        Used by the embedded app to determine which UI to show (wizard vs dashboard).

        Authentication: Requires Shopify session token via Authorization header.
        The shop domain is extracted from the session token's 'dest' claim.

        Called from the Shopify embedded app on initial load.
      tags:
        - Shopify
      operationId: getShopStatus
      security:
        - shopifySessionToken: []
      responses:
        '200':
          description: Shop status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - has_oauth
                  - has_project
                  - shop_domain
                properties:
                  has_oauth:
                    type: boolean
                    description: Whether shop has completed OAuth flow
                    example: true
                  has_project:
                    type: boolean
                    description: Whether shop has a linked SearchAF project
                    example: false
                  shop_domain:
                    type: string
                    description: The shop's myshopify.com domain
                    pattern: ^[a-z0-9-]+\.myshopify\.com$
                    example: example.myshopify.com
                  project:
                    $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
  /shopify/widget-config:
    get:
      summary: Get widget configuration for shop
      description: |
        Returns the configuration needed for the theme extension widget, including
        a read-only API key, table slug, and API URL. This endpoint is used by the
        embedded app dashboard to sync configuration to app metafields.

        Authentication: Requires Shopify session token via Authorization header.
        The shop domain is extracted from the session token's 'dest' claim.
      tags:
        - Shopify
      operationId: getWidgetConfig
      security:
        - shopifySessionToken: []
      responses:
        '200':
          description: Widget configuration retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - api_key
                  - table_slug
                  - api_url
                properties:
                  api_key:
                    type: string
                    description: Read-only API key for widget
                    example: searchaf_ro_abc123...
                  table_slug:
                    type: string
                    description: Table slug to query (usually "products" for Shopify)
                    example: products
                  api_url:
                    type: string
                    description: SearchAF API base URL
                    example: https://searchaf.antfly.io/api/v1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Shop or project not found, or no read-only API key available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /shopify/projects:
    post:
      summary: Create a Shopify project
      description: |
        Creates a new project linked to a Shopify shop. This endpoint:
        1. Looks up shop details from the user's pending OAuth token (user_shop_tokens)
        2. Creates a new project with type "shopify"
        3. Links the shop to the project by creating shopify_shops record
        4. Moves the access token from user_shop_tokens to shopify_access_tokens

        Requires the user to have completed OAuth with the Shopify shop first.
        Called from the SearchAF dashboard after OAuth completion.
      tags:
        - Shopify
      operationId: createShopifyProject
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organization_id
                - shop_domain
              properties:
                organization_id:
                  type: string
                  format: uuid
                  description: The organization ID to create the project under
                  example: 123e4567-e89b-12d3-a456-426614174000
                shop_domain:
                  type: string
                  description: The myshopify.com domain of the shop
                  example: my-store.myshopify.com
      responses:
        '201':
          description: Shopify project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Shop OAuth token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Shop is already linked to a project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /shopify/sync/{id}:
    get:
      summary: Get sync job status
      description: |
        Poll sync job status to track product sync progress.
        Returns current status, progress percentage, and any error messages.

        Use this endpoint to poll for sync completion (typically every 2 seconds).
        Stop polling when status is 'completed' or 'failed'.

        Called from the Shopify embedded app dashboard.
      tags:
        - Shopify
      operationId: getShopifySyncStatus
      security:
        - shopifySessionToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Sync job ID
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Sync job status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopifySync'
        '404':
          description: Sync job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/shopify:
    post:
      summary: Shopify webhook
      description: |
        Handle Shopify webhook events (app/uninstalled, shop/update, etc).
        This endpoint:
        1. Verifies the HMAC signature from Shopify
        2. Routes to the appropriate handler based on X-Shopify-Topic header

        For app/uninstalled events:
        - Freezes the associated project (sets status to 'frozen')
        - Deletes access tokens for the shop
        - Updates shop records with uninstall timestamp

        This webhook is automatically called by Shopify based on the configured topics.
      tags:
        - Shopify
      operationId: postWebhooksShopify
      security: []
      parameters:
        - name: X-Shopify-Hmac-Sha256
          in: header
          required: true
          schema:
            type: string
          description: HMAC signature for webhook verification
        - name: X-Shopify-Shop-Domain
          in: header
          required: false
          schema:
            type: string
          description: Shop domain (optional, included in payload)
        - name: X-Shopify-Topic
          in: header
          required: true
          schema:
            type: string
          description: Webhook topic (e.g., app/uninstalled, shop/update)
          example: app/uninstalled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Shopify webhook payload (varies by topic)
              properties:
                id:
                  type: integer
                  format: int64
                  description: Shopify shop ID
                  example: 123456
                domain:
                  type: string
                  description: Shop's myshopify.com domain
                  example: example.myshopify.com
      responses:
        '200':
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                    example: true
        '400':
          description: Invalid payload
        '401':
          description: Invalid HMAC signature
  /shopify/aeo/analyze:
    post:
      summary: Analyze Shopify resource(s) for AEO
      description: |
        Analyzes one or more Shopify resources (product, collection, page, or blog post) and returns
        AEO scores with actionable suggestions. Converts resources to semantic HTML
        and delegates to the core AEO analyzer.

        **Single resource mode** (application/json): Provide a single JSON object with resource_type and resource_id.
        Returns an array with one AnalysisReport.

        **Bulk mode** (application/x-ndjson): Provide newline-delimited JSON with one resource per line.
        Each line should be a JSON object with resource_type and resource_id.
        Returns an array of AnalysisReport objects (one per input resource).

        Example NDJSON:
        ```
        {"resource_type":"product","resource_id":"123"}
        {"resource_type":"product","resource_id":"456"}
        ```

        **v1 Limitation**: Only supports resourceType='product'. Other resource types will
        return a 400 Bad Request error.

        Authentication: Requires Shopify session token via Authorization header.
        The shop domain is extracted from the session token's 'dest' claim.
      tags:
        - Shopify AEO
      operationId: analyzeShopifyResource
      security:
        - shopifySessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resource_type
                - resource_id
              properties:
                resource_type:
                  $ref: '#/components/schemas/ShopifyResourceType'
                resource_id:
                  type: string
                  description: Shopify resource ID (e.g., gid://shopify/Product/123 or just "123")
                  example: '123456789'
          application/x-ndjson:
            schema:
              type: string
              description: Newline-delimited JSON, one resource per line
              example: |
                {"resource_type":"product","resource_id":"123"}
                {"resource_type":"product","resource_id":"456"}
      responses:
        '200':
          description: Resource(s) analyzed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalysisReport'
                description: Array of analysis reports (one per resource)
        '400':
          description: Bad request (invalid resource_type, unsupported in v1, or missing fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get AEO analysis history
      description: |
        Retrieves all AEO analyses for the authenticated shop's resources.
        Returns historical analysis reports ordered by most recent first.

        Authentication: Requires Shopify session token via Authorization header.
        The shop domain is extracted from the session token's 'dest' claim.
      tags:
        - Shopify AEO
      operationId: getShopifyAnalysisHistory
      security:
        - shopifySessionToken: []
      parameters:
        - name: resource_type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ShopifyResourceType'
          description: Filter by resource type (optional)
        - name: resource_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by specific resource ID (optional)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of results to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination
      responses:
        '200':
          description: Analysis history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalysisReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /shopify/aeo/visibility:
    post:
      summary: Test resource visibility in AI search
      description: |
        Tests how visible a Shopify resource is in AI search results for given queries.
        Returns relevance scores and recommendations for improving visibility.

        **v1 Limitation**: Only supports resourceType='product'. Other resource types will
        return a 400 Bad Request error.

        Authentication: Requires Shopify session token via Authorization header.
        The shop domain is extracted from the session token's 'dest' claim.
      tags:
        - Shopify AEO
      operationId: testResourceVisibility
      security:
        - shopifySessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resource_type
                - resource_id
                - queries
              properties:
                resource_type:
                  $ref: '#/components/schemas/ShopifyResourceType'
                resource_id:
                  type: string
                  description: Shopify resource ID
                  example: '123456789'
                queries:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  description: Search queries to test visibility against
                  example:
                    - What is organic coffee?
                    - Best coffee beans for espresso
      responses:
        '200':
          description: Visibility test completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityTestResult'
        '400':
          description: Bad request (invalid resource_type, unsupported in v1, or missing fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get visibility test history
      description: |
        Retrieves all visibility test results for the authenticated shop's resources.
        Returns historical visibility tests ordered by most recent first.

        Authentication: Requires Shopify session token via Authorization header.
        The shop domain is extracted from the session token's 'dest' claim.
      tags:
        - Shopify AEO
      operationId: getShopifyVisibilityHistory
      security:
        - shopifySessionToken: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of results to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination
      responses:
        '200':
          description: Visibility test history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VisibilityTestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /shopify/aeo/publish:
    post:
      summary: Publish AEO optimizations to Shopify
      description: |
        Applies saved optimization suggestions from a previous analysis to the Shopify resource
        via the Shopify Admin GraphQL API. This endpoint:
        1. Fetches the analysis and optimizations from aeo_shopify_analyses and aeo_shopify_optimizations
        2. Applies optimized values (title, description, meta fields, etc.) to Shopify
        3. Marks optimizations as applied (sets applied_at timestamp)

        **v1 Implementation**: Updates product title, meta description, and SEO fields.
        Future versions will support auto-applying all optimization types.

        Authentication: Requires Shopify session token via Authorization header.
        The shop domain is extracted from the session token's 'dest' claim.
      tags:
        - Shopify AEO
      operationId: publishShopifyOptimizations
      security:
        - shopifySessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - analysis_id
              properties:
                analysis_id:
                  type: string
                  format: uuid
                  description: ID of the Shopify AEO analysis containing optimizations to publish
                  example: 123e4567-e89b-12d3-a456-426614174000
                fields:
                  type: array
                  items:
                    type: string
                  description: Optional list of specific fields to publish (if omitted, publishes all auto-applicable optimizations)
                  example:
                    - title
                    - meta_description
      responses:
        '200':
          description: Optimizations published successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishOptimizationsResponse'
        '400':
          description: Bad request (invalid analysis_id or no optimizations found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Analysis not found or already published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organizations/{org_id}/aeo/analyze:
    post:
      summary: Analyze content for AEO score
      description: |
        Analyze HTML, Markdown, or URL content for Answer Engine Optimization.
        Requires organization membership for the specified organization.
      tags:
        - AEO Analysis
      operationId: analyzeContent
      security:
        - BearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
          description: Organization ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisRequest'
      responses:
        '200':
          description: Analysis complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get full history of analyses
      description: |
        Retrieve all analyses for the specified organization.
        Requires organization membership.
      tags:
        - AEO Analysis
      operationId: getAnalysisHistory
      security:
        - BearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
          description: Organization ID
      responses:
        '200':
          description: List of all analyses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalysisReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/aeo/visibility:
    post:
      summary: Run a new visibility test across AI engines
      description: |
        Test content visibility in AI engines (Gemini, Gemma, etc.).
        Requires organization membership for the specified organization.
      tags:
        - AEO Visibility
      operationId: runVisibilityTest
      security:
        - BearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
          description: Organization ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisibilityTestRequest'
      responses:
        '200':
          description: Visibility test results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityTestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    get:
      summary: Get full history of visibility tests
      description: |
        Retrieve all visibility test results for the specified organization.
        Requires organization membership.
      tags:
        - AEO Visibility
      operationId: getVisibilityTestHistory
      security:
        - BearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
          description: Organization ID
      responses:
        '200':
          description: List of all visibility test results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VisibilityTestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    UUID:
      type: string
      format: uuid
      description: RFC 4122 UUID identifier
      example: 550e8400-e29b-41d4-a716-446655440000
    Timestamp:
      type: string
      format: date-time
      description: ISO 8601 timestamp
      example: '2025-10-02T15:30:00Z'
    Date:
      type: string
      format: date
      description: ISO 8601 date
      example: '2025-10-02'
    PaginationMeta:
      type: object
      required:
        - offset
        - limit
        - total
      properties:
        offset:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
          description: Total number of items available
    Error:
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: URI identifying the problem type
          example: https://searchaf.antfly.io/errors/validation-error
        title:
          type: string
          description: Short, human-readable summary
          example: Validation Error
        status:
          type: integer
          description: HTTP status code
          example: 400
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
          example: Email address is required
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence
          example: https://searchaf.antfly.io/api/v1/users/550e8400-e29b-41d4-a716-446655440000
        errors:
          type: array
          description: Additional validation errors
          items:
            type: object
            required:
              - field
              - message
            properties:
              field:
                type: string
                description: Field name causing the error
              message:
                type: string
                description: Error message for this field
    UserStatus:
      type: string
      enum:
        - active
        - suspended
        - deleted
      description: User account status
    User:
      type: object
      required:
        - id
        - email
        - display_name
        - status
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        email:
          type: string
          format: email
          maxLength: 255
          description: User email address
          example: user@example.com
        display_name:
          type: string
          minLength: 1
          maxLength: 100
          description: User display name
          example: John Doe
        avatar_url:
          type: string
          format: uri
          nullable: true
          description: Profile picture URL
          example: https://example.com/avatar.jpg
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        last_login_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        status:
          $ref: '#/components/schemas/UserStatus'
        settings:
          type: object
          nullable: true
          description: Extensible user settings
          additionalProperties: true
    OAuthProviderType:
      type: string
      enum:
        - google
        - github
        - shopify
      description: OAuth provider type
    OAuthProvider:
      type: object
      required:
        - id
        - user_id
        - provider
        - provider_user_id
        - provider_email
        - linked_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        user_id:
          $ref: '#/components/schemas/UUID'
        provider:
          $ref: '#/components/schemas/OAuthProviderType'
        provider_user_id:
          type: string
          description: User ID from OAuth provider
        provider_email:
          type: string
          format: email
          description: Email from OAuth provider
        linked_at:
          $ref: '#/components/schemas/Timestamp'
        last_used_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
    OrganizationStatus:
      type: string
      enum:
        - active
        - frozen
        - deleted
      description: Organization status
    Organization:
      type: object
      required:
        - id
        - name
        - slug
        - owner_id
        - billing_email
        - status
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Organization display name
          example: Acme Corp
        slug:
          type: string
          pattern: ^[a-z0-9-]+$
          minLength: 1
          maxLength: 50
          description: URL-safe identifier
          example: acme-corp
        owner_id:
          $ref: '#/components/schemas/UUID'
        billing_email:
          type: string
          format: email
          description: Email for billing notifications
          example: billing@acme.com
        status:
          $ref: '#/components/schemas/OrganizationStatus'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        settings:
          type: object
          nullable: true
          description: Extensible organization settings
          additionalProperties: true
    OrganizationRole:
      type: string
      enum:
        - owner
        - admin
        - developer
      description: Organization-level role
    MembershipStatus:
      type: string
      enum:
        - invited
        - active
        - removed
      description: Membership status
    OrganizationMember:
      type: object
      required:
        - id
        - user_id
        - organization_id
        - role
        - invited_at
        - status
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        user_id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        role:
          $ref: '#/components/schemas/OrganizationRole'
        invited_by:
          $ref: '#/components/schemas/UUID'
          nullable: true
        invited_at:
          $ref: '#/components/schemas/Timestamp'
        joined_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        status:
          $ref: '#/components/schemas/MembershipStatus'
        user:
          $ref: '#/components/schemas/User'
          nullable: true
          description: Populated in list responses
    ProjectType:
      type: string
      enum:
        - woocommerce
        - shopify
        - wordpress
        - custom
      description: E-commerce platform type
    ProjectStatus:
      type: string
      enum:
        - active
        - frozen
        - deleted
      description: Project status
    Project:
      type: object
      required:
        - id
        - organization_id
        - name
        - slug
        - project_type
        - status
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Project display name
          example: My Store
        slug:
          type: string
          pattern: ^[a-z0-9-]+$
          minLength: 1
          maxLength: 50
          description: URL-safe identifier (unique within org)
          example: my-store
        project_type:
          $ref: '#/components/schemas/ProjectType'
        antfly_cluster_id:
          type: string
          minLength: 1
          maxLength: 50
          description: AntflyDB cluster ID where project tables are stored (internal only, not returned in API responses)
          readOnly: true
          x-go-name: AntflyClusterID
        integration_config:
          type: object
          nullable: true
          description: Platform-specific configuration
          additionalProperties: true
        tables:
          type: array
          items:
            $ref: '#/components/schemas/ProjectTable'
          description: AntflyDB tables associated with this project
        status:
          $ref: '#/components/schemas/ProjectStatus'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        settings:
          type: object
          nullable: true
          description: Extensible project settings
          additionalProperties: true
    ProjectTable:
      type: object
      required:
        - id
        - project_id
        - slug
        - is_default
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          description: The table UUID (used as AntflyDB table name)
        project_id:
          $ref: '#/components/schemas/UUID'
          description: The project this table belongs to
        slug:
          type: string
          maxLength: 100
          pattern: ^[a-z0-9-]+$
          description: Human-friendly slug (e.g., 'products', 'blog-posts')
          example: products
        is_default:
          type: boolean
          description: Whether this is the default table for the project
          default: false
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
    ProjectTableCreate:
      type: object
      required:
        - slug
      properties:
        slug:
          type: string
          maxLength: 100
          pattern: ^[a-z0-9-]+$
          description: Human-friendly slug
          example: products
        is_default:
          type: boolean
          description: Whether this should be the default table
          default: false
    ProjectTableUpdate:
      type: object
      properties:
        slug:
          type: string
          maxLength: 100
          pattern: ^[a-z0-9-]+$
        is_default:
          type: boolean
    APIKeyType:
      type: string
      enum:
        - read_only
        - read_write
      description: API key access level
    APIKeyStatus:
      type: string
      enum:
        - active
        - revoked
      description: API key status
    RevokedAPIKey:
      type: object
      required:
        - id
        - status
        - revoked_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          description: ID of the revoked key
        status:
          type: string
          enum:
            - revoked
          description: Status of the old key
        revoked_at:
          $ref: '#/components/schemas/Timestamp'
          description: When the old key was revoked
    APIKey:
      type: object
      required:
        - id
        - project_id
        - key_type
        - key_prefix
        - name
        - created_at
        - status
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        project_id:
          $ref: '#/components/schemas/UUID'
        key_type:
          $ref: '#/components/schemas/APIKeyType'
        key_prefix:
          type: string
          description: Visible key prefix (first 8 chars)
          example: sk_live_
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: User-defined key name
          example: Production API Key
        created_at:
          $ref: '#/components/schemas/Timestamp'
        last_used_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        expires_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        status:
          $ref: '#/components/schemas/APIKeyStatus'
    EntityType:
      type: string
      enum:
        - user
        - organization
        - project
        - api_key
        - subscription
      description: Type of entity being audited
    AuditAction:
      type: string
      enum:
        - create
        - read
        - update
        - delete
      description: Type of action performed
    AuditLog:
      type: object
      required:
        - id
        - organization_id
        - entity_type
        - entity_id
        - action
        - created_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        user_id:
          $ref: '#/components/schemas/UUID'
          nullable: true
          description: Null for system actions
        entity_type:
          $ref: '#/components/schemas/EntityType'
        entity_id:
          $ref: '#/components/schemas/UUID'
        action:
          $ref: '#/components/schemas/AuditAction'
        changes:
          type: object
          nullable: true
          description: Before/after state
          properties:
            old_value:
              type: object
              additionalProperties: true
            new_value:
              type: object
              additionalProperties: true
        ip_address:
          type: string
          nullable: true
          description: Request IP address
          example: 192.168.1.1
        user_agent:
          type: string
          nullable: true
          description: Request user agent
          example: Mozilla/5.0...
        created_at:
          $ref: '#/components/schemas/Timestamp'
    UserOrganization:
      $ref: '#/components/schemas/OrganizationMember'
    ShopifySyncStatus:
      type: string
      enum:
        - pending
        - running
        - completed
        - failed
        - errored
      description: Shopify sync job status
    ShopifySync:
      type: object
      required:
        - id
        - shopify_shop_id
        - status
        - progress_percent
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          description: Sync job ID
        shopify_shop_id:
          $ref: '#/components/schemas/UUID'
          description: Shopify shop ID (foreign key to shopify_shops.id)
        status:
          $ref: '#/components/schemas/ShopifySyncStatus'
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
          description: Sync progress percentage (0-100)
          example: 45
        last_cursor:
          type: string
          nullable: true
          description: Last Shopify API pagination cursor (for resume capability)
        error_message:
          type: string
          nullable: true
          description: Error message if status is failed or errored
        started_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
          description: When the sync job started running
        completed_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
          description: When the sync job completed (success or failure)
        created_at:
          $ref: '#/components/schemas/Timestamp'
          description: When the sync job was created
        updated_at:
          $ref: '#/components/schemas/Timestamp'
          description: When the sync job was last updated
    AuthResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
        - user
      properties:
        access_token:
          type: string
          description: JWT access token
        refresh_token:
          type: string
          description: JWT refresh token
        token_type:
          type: string
          enum:
            - Bearer
          default: Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds
          example: 3600
        user:
          $ref: '#/components/schemas/User'
    ProjectStats:
      type: object
      required:
        - project_id
        - total_indexed_items
        - tables
      properties:
        project_id:
          $ref: '#/components/schemas/UUID'
        total_indexed_items:
          type: integer
          format: int64
          description: Total number of indexed items across all tables
          example: 15234
        tables:
          type: array
          items:
            $ref: '#/components/schemas/TableStats'
          description: Per-table statistics breakdown
        integration_metadata:
          $ref: '#/components/schemas/IntegrationMetadata'
          nullable: true
          description: Integration-specific metadata (Shopify, WooCommerce, etc.)
    TableStats:
      type: object
      required:
        - table_id
        - slug
        - indexed_items
      properties:
        table_id:
          $ref: '#/components/schemas/UUID'
          description: Table UUID (AntflyDB table name)
        slug:
          type: string
          description: Human-friendly table slug
          example: products
        indexed_items:
          type: integer
          format: int64
          description: Number of indexed items in this table
          example: 15234
        is_default:
          type: boolean
          description: Whether this is the default table for the project
    IntegrationMetadata:
      type: object
      description: Integration-specific metadata for various project types
      properties:
        shopify:
          $ref: '#/components/schemas/ShopifyIntegrationMetadata'
          nullable: true
    ShopifyIntegrationMetadata:
      type: object
      required:
        - shop_name
        - shop_domain
        - sync_in_progress
      properties:
        shop_name:
          type: string
          description: Shopify shop display name
          example: Acme Store
        shop_domain:
          type: string
          pattern: ^[a-z0-9-]+\.myshopify\.com$
          description: Shop's myshopify.com domain
          example: acme-store.myshopify.com
        last_sync_completed_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
          description: When the last successful sync completed
        last_sync_status:
          $ref: '#/components/schemas/ShopifySyncStatus'
          nullable: true
          description: Status of the most recent sync job
        sync_in_progress:
          type: boolean
          description: Whether a sync is currently running
          example: false
    SubscriptionStatus:
      type: string
      enum:
        - active
        - trial
        - past_due
        - canceled
      description: Subscription status
    PlanType:
      type: string
      enum:
        - free
        - growth
        - enterprise
      description: Subscription plan tier
    Subscription:
      type: object
      required:
        - id
        - organization_id
        - status
        - plan_type
        - billing_cycle_start
        - billing_cycle_end
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        stripe_customer_id:
          type: string
          nullable: true
          description: Stripe customer ID
        stripe_subscription_id:
          type: string
          nullable: true
          description: Stripe subscription ID
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        plan_type:
          $ref: '#/components/schemas/PlanType'
        billing_cycle_start:
          $ref: '#/components/schemas/Date'
        billing_cycle_end:
          $ref: '#/components/schemas/Date'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
    MetricType:
      type: string
      enum:
        - search_query
        - index_entry
      description: Usage metric type
    UsageMetric:
      type: object
      required:
        - metric_type
        - current
        - limit
        - remaining
      properties:
        metric_type:
          $ref: '#/components/schemas/MetricType'
        current:
          type: integer
          minimum: 0
          description: Current usage this billing cycle
          example: 5000
        limit:
          type: integer
          minimum: 0
          description: Usage limit for this metric (0 = unlimited)
          example: 10000
        remaining:
          type: integer
          minimum: 0
          description: Remaining quota
          example: 5000
        percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Usage percentage
          example: 50
    UsageSummary:
      type: object
      required:
        - organization_id
        - billing_cycle_start
        - billing_cycle_end
        - metrics
        - is_frozen
      properties:
        organization_id:
          $ref: '#/components/schemas/UUID'
        billing_cycle_start:
          $ref: '#/components/schemas/Date'
        billing_cycle_end:
          $ref: '#/components/schemas/Date'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/UsageMetric'
        is_frozen:
          type: boolean
          description: Whether organization is frozen due to quota exceeded
        frozen_reason:
          type: string
          nullable: true
          description: Reason for freeze (if applicable)
          example: Quota exceeded without billing configured
    ProjectUsage:
      type: object
      required:
        - project_id
        - organization_id
        - billing_cycle_start
        - billing_cycle_end
        - metrics
      properties:
        project_id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        billing_cycle_start:
          $ref: '#/components/schemas/Date'
        billing_cycle_end:
          $ref: '#/components/schemas/Date'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/UsageMetric'
    UsageHistory:
      type: object
      required:
        - billing_cycle
        - metrics
      properties:
        billing_cycle:
          $ref: '#/components/schemas/Date'
        metrics:
          type: array
          items:
            type: object
            required:
              - metric_type
              - total
            properties:
              metric_type:
                $ref: '#/components/schemas/MetricType'
              total:
                type: integer
                minimum: 0
                description: Total usage for this billing cycle
    ShopifyResourceType:
      type: string
      enum:
        - product
        - collection
        - page
        - blog_post
      description: Type of Shopify resource
      example: product
    PublishOptimizationsResponse:
      type: object
      required:
        - analysis_id
        - published_count
        - applied_fields
      properties:
        analysis_id:
          type: string
          format: uuid
          description: ID of the analysis
        published_count:
          type: integer
          description: Number of optimizations published
          example: 3
        applied_fields:
          type: array
          items:
            type: string
          description: List of fields that were updated
          example:
            - title
            - meta_description
            - seo_title
        shopify_resource_id:
          type: string
          description: Shopify GID of the updated resource
          example: gid://shopify/Product/123456789
    Grade:
      type: string
      enum:
        - excellent
        - good
        - needs-work
      description: Quality grade based on AEO score
    AEOScore:
      type: object
      required:
        - value
        - grade
      properties:
        value:
          type: integer
          minimum: 0
          maximum: 100
          description: Numerical AEO score
          example: 75
        grade:
          $ref: '#/components/schemas/Grade'
    ReportSummary:
      type: object
      required:
        - total_issues
        - critical_count
        - warning_count
        - info_count
      properties:
        total_issues:
          type: integer
          minimum: 0
        critical_count:
          type: integer
          minimum: 0
        warning_count:
          type: integer
          minimum: 0
        info_count:
          type: integer
          minimum: 0
    SuggestionCategory:
      type: string
      enum:
        - structure
        - content
        - metadata
        - schema
      description: Category of optimization suggestion
    Priority:
      type: string
      enum:
        - critical
        - warning
        - info
      description: Priority level of suggestion
    Impact:
      type: string
      enum:
        - high
        - medium
        - low
      description: Impact level of suggestion
    Suggestion:
      type: object
      required:
        - id
        - category
        - priority
        - title
        - description
        - impact
      properties:
        id:
          type: string
          description: Unique suggestion identifier
          example: STR-001
        category:
          $ref: '#/components/schemas/SuggestionCategory'
        priority:
          $ref: '#/components/schemas/Priority'
        title:
          type: string
          description: Short suggestion title
          example: Missing H1 Heading
        description:
          type: string
          description: Detailed explanation
          example: Add a clear H1 heading that describes the main topic of the page.
        example:
          type: string
          nullable: true
          description: Example implementation
        impact:
          $ref: '#/components/schemas/Impact'
    ContentType:
      type: string
      enum:
        - html
        - markdown
        - url
      description: Type of content being analyzed
    AnalysisMetadata:
      type: object
      required:
        - source
        - content_type
        - analyzed_at
      properties:
        source:
          type: string
          description: Original source URL or content snippet
        content_type:
          $ref: '#/components/schemas/ContentType'
        analyzed_at:
          $ref: '#/components/schemas/Timestamp'
        processing_time:
          type: integer
          description: Processing time in milliseconds
        content_length:
          type: integer
          nullable: true
          description: Length of content analyzed
        additional_fields:
          type: object
          nullable: true
          additionalProperties: true
          description: Additional resource-specific fields (e.g., resource_id, resource_title for Shopify)
    ExperienceAnalysis:
      type: object
      required:
        - score
        - signals
        - missing
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: Experience score (0-100)
        signals:
          type: array
          items:
            type: string
          description: Detected experience signals (narratives, case studies, etc.)
        missing:
          type: array
          items:
            type: string
          description: Missing experience elements
    ExpertiseAnalysis:
      type: object
      required:
        - score
        - author_info
        - credentials
        - expert_quotes
        - missing
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: Expertise score (0-100)
        author_info:
          type: boolean
          description: Has author information
        credentials:
          type: array
          items:
            type: string
          description: Detected credentials
        expert_quotes:
          type: integer
          minimum: 0
          description: Number of expert quotes or citations
[...]
